# Violence Detection - Python/ML Project
*.py linguist-detectable=true
*.ipynb linguist-language=Python
*.md linguist-documentation=true
*.pdf linguist-documentation=true

# Mark model files as data
*.h5 linguist-vendored
modelnew.h5 linguist-vendored
